.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  font-family: 'Lato', sans-serif;
}

.content-holder {
  display: flex;
  flex-wrap: wrap;

  h1 {
    width: 100%;
  }
}

.icon-animated {
  margin: 20px;
}
