@mixin elr-icon-border($config: ()) {
  $config: extend(
    (
      color: #1976d2,
    ),
    $config
  );

  $color: map-get($config, color);

  transition: background 0.2s ease;

  &::after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 1px $color;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
  }

  &:hover,
  &.active {
    background-color: rgba($color, 1);

    &::after {
      transform: scale(1);
      opacity: 1;
    }

    .fa {
      color: #fff;
    }
  }
}

@mixin elr-icon-border-pop($config: ()) {
  $config: extend(
    (
      color: #1976d2,
    ),
    $config
  );

  $color: map-get($config, color);

  transition: background 0.2s ease;

  &::after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 1px $color;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(1.2);
    opacity: 0;
  }

  &:hover,
  &.active {
    background-color: rgba($color, 1);

    &::after {
      transform: scale(1);
      opacity: 1;
    }

    .fa {
      color: #fff;
    }
  }
}

@mixin elr-icon-border-pull($config: ()) {
  $config: extend(
    (
      color: #1976d2,
    ),
    $config
  );

  $color: map-get($config, color);

  color: #fff;
  box-shadow: 0 0 0 1px $color;
  transition: color 0.3s;
  background-color: #fff;

  .fa {
    color: #fff;
  }

  &::after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: $color;
    transition: transform 0.2s, opacity 0.2s;
  }

  &:hover,
  &.active {
    &::after {
      transform: scale(0.85);
    }

    .fa {
      color: #fff;
    }
  }
}

@mixin elr-icon-background-fade($config: ()) {
  $config: extend(
    (
      color: #1976d2,
    ),
    $config
  );

  $color: map-get($config, color);

  color: #fff;
  box-shadow: 0 0 0 1px $color;
  transition: color 0.3s;
  background-color: #fff;

  .fa {
    color: #fff;
  }

  &::after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: $color;
    transition: transform 0.2s, opacity 0.2s;
  }

  &:hover,
  &.active {
    &::after {
      transform: scale(0);
      opacity: 0;
      transition: transform 0.4s, opacity 0.2s;
    }

    .fa {
      color: $color;
    }
  }
}
