@mixin elr-icon-dash($config: ()) {
    $config: extend((
        border-thickness: to-rems(3px),
        rotate: false,
        color: $elr-blue
    ), $config);

    $border-thickness: map-get($config, border-thickness);
    $rotate: map-get($config, rotate);
    $color: map-get($config, color);

    box-shadow: 0 0 0 $border-thickness rgba($color, 1);
    transition: box-shadow .3s;

    &:after {
        top: -$border-thickness;
        left: -$border-thickness;
        padding: 0;
        z-index: 10;
        border: $border-thickness dashed $color;
    }

    &:hover,
    &.active {
        box-shadow: 0 0 0 0 rgba($color, 0);

        &:after {
            @if $rotate {
                @include elr-spin;
            }
        }
    }
}
