@mixin elr-icon-close($config: ()) {
  $config:extend((width: 32px, thickness: 4px, color: #333), $config);

  $width: map-get($config, width);
  $thickness: map-get($config, thickness);
  $color: map-get($config, color);

  width: $width;
  height: $width;
  position: relative;
  display: block;
  cursor: pointer;

  span,
  &::before,
  &::after {
    background: $color;
    height: $thickness;
    border-radius: $thickness;
    width: $width;
    display: block;
    position: absolute;
  }

  &::before,
  &::after {
    content: '';
    transition: top 0.2s ease 0.2s,
      transform 0.3s ease-out 0s;
  }

  &::before {
    top: $thickness;
  }

  &::after {
    top: $width - $thickness;
  }

  span {
    transition: opacity 0.2s ease 0s;
    top: ($width * 0.5);
  }

  &.active {
    &::before,
    &::after {
      top: ($width * 0.5) - ($thickness * 0.5);
      transition: top 0.2s ease 0s,
        transform 0.3s ease-in 0.2s;
    }
  
    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    span {
      opacity: 0;
      visibility: hidden;
    }
  }
}

@mixin elr-icon-arrow($config: ()) {
  $config:extend((direction: 'left', width: 30px, thickness: 4px), $config);

  $direction: map-get($config, direction);
  $width: map-get($config, width);
  $thickness: map-get($config, thickness);

  span,
  &::before,
  &::after {
    transition: all 0.3s;
  }

  &.active {
    span {
      @if ($direction == 'left') {
        transform: rotate(-180deg);
      } @else {
        transform: rotate(180deg);
      }
    }

    &::before {
      width: 50%;
      top: 9px;

      @if ($direction == 'left') {
        left: 0;
        transform: rotate(-217deg);
      } @else {
        left: 50%;
        transform: rotate(217deg);
      }
    }

    &::after {
      width: 50%;
      bottom: 9px;

      @if ($direction == 'left') {
        left: 0;
        transform: rotate(-145deg);
      } @else {
        left: 50%;
        transform: rotate(145deg);
      }
    }
  }
}
