@import "elr-scss-config/src/main";
@import "elr-scss-reset/src/main";
@import "elr-scss-base/src/main";
@import "src/main";

@include elr-reset;
@include elr-base;

* {
  font-family: Roboto;
}

.wrapper {
  max-width: $content-width;
  margin: auto;
  padding: ($base-fontsize * 1.5);
}

.main-heading,
.subheading {
  border-bottom: $border;
  padding-bottom: $base-fontsize * 0.5;
  margin-bottom: $base-fontsize;
  width: 100%;
}

.main-heading {
  font-size: $base-fontsize * 2;
  font-weight: 700;
}

.subheading {
  font-size: $base-fontsize * 1.5;
  font-weight: 900;
  color: $primary-color;
}

.demo-content {
  position: relative;
  padding: ($base-fontsize * 1.5) 0;
  display: flex;

  button {
    margin: $base-fontsize;
  }
}

.icon-animated {
  @include elr-icon-animated;
}

.icon-border {
  @include elr-icon-border;
}

.icon-border-pop {
  @include elr-icon-border-pop;
}

.icon-border-pull {
  @include elr-icon-border-pull;
}

.icon-background-fade {
  @include elr-icon-background-fade;
}

.icon-dash {
  @include elr-icon-dash;
}

.icon-dash-rotate {
  @include elr-icon-dash(
    $config: (
      rotate: true,
    )
  );
}

.icon-close {
  @include elr-icon-close;
}

.icon-arrow-left {
  @include elr-icon-arrow;
}

.icon-arrow-right {
  @include elr-icon-arrow(
    $config: (
      direction: "right",
    )
  );
}
